In [1]:
import pandas as pd
from pathlib import Path
import json
import numpy as np
import re
import psycopg2
from sqlalchemy import create_engine
from config import db_password
import time

In [2]:
df = pd.read_csv(Path("CSV/Motor_Vehicle_Collisions_-_Crashes.csv"))

C:\Users\Sam\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [4]:
print(df.columns)

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

In [5]:
collision_df = df.drop(columns = ['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME','NUMBER OF PEDESTRIANS INJURED','NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5','VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'])
collision_df.head()

   NUMBER OF PERSONS INJURED  NUMBER OF PERSONS KILLED  COLLISION_ID
0                        2.0                       0.0       4455765
1                        1.0                       0.0       4513547
2                        0.0                       0.0       4541903
3                        0.0                       0.0       4456314
4                        0.0                       0.0       4486609

In [6]:
collision_df.isnull().sum()

NUMBER OF PERSONS INJURED    18
NUMBER OF PERSONS KILLED     31
COLLISION_ID                  0
dtype: int64

In [7]:
collision_df.dtypes

NUMBER OF PERSONS INJURED    float64
NUMBER OF PERSONS KILLED     float64
COLLISION_ID                   int64
dtype: object

In [8]:
clean_collision_df = collision_df.dropna()

clean_collision_df.head()

   NUMBER OF PERSONS INJURED  NUMBER OF PERSONS KILLED  COLLISION_ID
0                        2.0                       0.0       4455765
1                        1.0                       0.0       4513547
2                        0.0                       0.0       4541903
3                        0.0                       0.0       4456314
4                        0.0                       0.0       4486609

In [9]:
clean_collision_df.isnull().sum()

NUMBER OF PERSONS INJURED    0
NUMBER OF PERSONS KILLED     0
COLLISION_ID                 0
dtype: int64

In [10]:
output_file_path = 'CSV\Collisions.csv'
clean_collision_df.to_csv(output_file_path, index=False)

In [10]:
location_df = df.drop(columns = ['CRASH DATE', 'CRASH TIME','LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'])

location_df.head()

    BOROUGH ZIP CODE  COLLISION_ID
0       NaN      NaN       4455765
1       NaN      NaN       4513547
2       NaN      NaN       4541903
3  BROOKLYN  11208.0       4456314
4  BROOKLYN  11233.0       4486609

In [11]:
location_df.isnull().sum()

BOROUGH         600984
ZIP CODE        601218
COLLISION_ID         0
dtype: int64

In [12]:
location_df.dtypes

BOROUGH         object
ZIP CODE        object
COLLISION_ID     int64
dtype: object

In [13]:
location_df.drop(location_df.loc[location_df['ZIP CODE']=='     '].index, inplace=True)

In [14]:
clean_location_df = location_df.dropna()

clean_location_df.head()

     BOROUGH ZIP CODE  COLLISION_ID
3   BROOKLYN  11208.0       4456314
4   BROOKLYN  11233.0       4486609
7      BRONX  10475.0       4486660
8   BROOKLYN  11207.0       4487074
9  MANHATTAN  10017.0       4486519

In [15]:
clean_location_df.isnull().sum()

BOROUGH         0
ZIP CODE        0
COLLISION_ID    0
dtype: int64

In [16]:
output_file_path = 'CSV\Locations.csv'
clean_location_df.to_csv(output_file_path, index=False)

In [16]:
date_time_df = df.drop(columns = ['BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5','VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'])

date_time_df.head()

   CRASH DATE CRASH TIME  COLLISION_ID
0  09/11/2021       2:39       4455765
1  03/26/2022      11:45       4513547
2  06/29/2022       6:55       4541903
3  09/11/2021       9:35       4456314
4  12/14/2021       8:13       4486609

In [17]:
date_time_df.isnull().sum()

CRASH DATE      0
CRASH TIME      0
COLLISION_ID    0
dtype: int64

In [18]:
date_time_df.dtypes

CRASH DATE      object
CRASH TIME      object
COLLISION_ID     int64
dtype: object

In [19]:
date_time_df["CRASH DATE"] = pd.to_datetime(date_time_df['CRASH DATE'])

In [20]:
date_time_df.dtypes

CRASH DATE      datetime64[ns]
CRASH TIME              object
COLLISION_ID             int64
dtype: object

In [21]:
clean_date_time_df = date_time_df

clean_date_time_df.head()

  CRASH DATE CRASH TIME  COLLISION_ID
0 2021-09-11       2:39       4455765
1 2022-03-26      11:45       4513547
2 2022-06-29       6:55       4541903
3 2021-09-11       9:35       4456314
4 2021-12-14       8:13       4486609

In [23]:
output_file_path = 'CSV\Date_Time.csv'
clean_date_time_df.to_csv(output_file_path, index=False)

In [26]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/NYC_Vehicle_Collision_Prediction"
engine = create_engine(db_string)
file_dir = 'C:\\Users\Sam\Class1\NYC_Vehicle_Collision_Prediction\CSV'

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 20-21: malformed \N character escape (1171319208.py, line 3)

In [25]:
for data in pd.read_csv(f'{file_dir}Collisions.csv', chunksize=100000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='collisions', con=engine, if_exists='append')
    rows_imported += len(data)
    print('Done.')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Sam\\Class1\\Movies-ETL\\ResourcesCollisions.csv'