In [93]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression

In [94]:
df = pd.read_csv(Path('CSV/year2016.csv'))
df.head()

   CRASH DATE CRASH TIME   BOROUGH  ZIP CODE  NUMBER OF PERSONS INJURED
0  2016-04-16      14:20  BROOKLYN   11214.0                        0.0
1  2016-06-02       7:28  BROOKLYN   11210.0                        1.0
2  2016-06-06      14:56  BROOKLYN   11212.0                        0.0
3  2016-09-26      16:58  BROOKLYN   11203.0                        0.0
4  2016-12-29      13:15     BRONX   10467.0                        0.0

In [95]:
df =df.rename(columns={'NUMBER OF PERSONS INJURED': 'INJURED', 'CRASH DATE': 'DATE', 'CRASH TIME':'TIME'})

In [96]:
df.head()

         DATE   TIME   BOROUGH  ZIP CODE  INJURED
0  2016-04-16  14:20  BROOKLYN   11214.0      0.0
1  2016-06-02   7:28  BROOKLYN   11210.0      1.0
2  2016-06-06  14:56  BROOKLYN   11212.0      0.0
3  2016-09-26  16:58  BROOKLYN   11203.0      0.0
4  2016-12-29  13:15     BRONX   10467.0      0.0

In [97]:
df.dtypes

DATE         object
TIME         object
BOROUGH      object
ZIP CODE    float64
INJURED     float64
dtype: object

In [98]:
df['DATE']= pd.to_datetime(df['DATE'])
df['DATE'] = (df['DATE'] - df['DATE'].min())  / np.timedelta64(1,'D')

In [100]:
df['TIME']= pd.to_datetime(df['TIME'])
df['TIME'] = (df['TIME'] - df['TIME'].min())  / np.timedelta64(1,'D')

In [101]:
df.dtypes

DATE        float64
TIME        float64
BOROUGH      object
ZIP CODE    float64
INJURED     float64
dtype: object

In [102]:
borough_mapping = {
    "BROOKLYN": 0,
    "BRONX": 1,
    "QUEENS": 2,
    "MANHATTAN": 3,
    "STATEN ISLAND": 4
}

In [103]:
df["BOROUGH"] = df["BOROUGH"].apply(lambda x: borough_mapping[x])

In [104]:
df

         DATE      TIME  BOROUGH  ZIP CODE  INJURED
0       106.0  0.597222        0   11214.0      0.0
1       153.0  0.311111        0   11210.0      1.0
2       157.0  0.622222        0   11212.0      0.0
3       269.0  0.706944        0   11203.0      0.0
4       363.0  0.552083        1   10467.0      0.0
...       ...       ...      ...       ...      ...
153253    6.0  0.697917        2   11373.0      0.0
153254   18.0  0.500000        0   11214.0      1.0
153255    7.0  0.628472        3   10017.0      0.0
153256    7.0  0.565278        1   10473.0      0.0
153257   15.0  0.781250        2   11432.0      0.0

[153258 rows x 5 columns]

In [105]:
y = df.INJURED
X = df.drop(columns=['INJURED'])

In [106]:
y

0         0.0
1         1.0
2         0.0
3         0.0
4         0.0
         ...
153253    0.0
153254    1.0
153255    0.0
153256    0.0
153257    0.0
Name: INJURED, Length: 153258, dtype: float64

In [107]:
X.dtypes

DATE        float64
TIME        float64
BOROUGH       int64
ZIP CODE    float64
dtype: object

In [108]:
model = LinearRegression()

In [109]:
model.fit(X, y)

LinearRegression()

In [110]:
y_pred = model.predict(X)
print(y_pred.shape)

(153258,)

In [112]:
y_pred

array([0.2855035 , 0.2773512 , 0.29258856, ..., 0.17352449, 0.22534364,
       0.25452145])